APP_URL=

DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_ROOT_PASSWORD=

TELEGRAM_TOKEN=         # токен из BotFather

REVERB_APP_ID=          # openssl rand -hex 8
REVERB_APP_KEY=         # openssl rand -hex 16
REVERB_APP_SECRET=      # openssl rand -hex 16
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http
BROADCAST_CONNECTION=reverb

CACHE_STORE=      